/* PHASE 3: Layout */

.content {
  width: 900px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  /*box-sizing: border-box;*/
}

.content:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  left: 240px;
  top: 0;
  bottom: 0;
  background-color: #ccc;
}

.content-sidebar, .content-main {
  float: left;
  min-height: 200px;
  padding: 20px;
  /*box-sizing: border-box;*/
  background-color: #fff;
}

.content-sidebar{
  width: 200px;
}

.content-main {
  width: 620px;
}
