/* PHASE 4: Footer */

footer {
  display: flex;
  justify-content: space-between;
  color: #ccc;
  background-color: #fff;
  width: 902px;
  border: 1px solid #ccc;
  border-top: none;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.footer-nav li {
  float: left;
  margin-right: 20px;
}

.footer-nav li a {
  color: #ccc;
}

.footer-nav li a:hover {
  color: #000;
}

.footer-nav li:last-child {
  margin-right: 0;
}
