/* PHASE 7: Online */

.online {
  background-color: #0c0;
  color: #fff;
  position: absolute;
  box-shadow: 0 1px 1px #070;
  letter-spacing: 2.5px;
  font-size: 12px;
  padding: 5px 30px;
  transform: rotate(-45deg) translateX(-30px) translateY(-15px);
  font-weight: 700;
}
